* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    background: #ffffff no-repeat;
    background-size: cover;
    color: #333;
}
footer {
    font-size: 0.75em;
    color: silver;
    position: fixed;
    bottom: 1em;
    left: 1em;
}
footer a {
    color: #f80;
}
header {
    margin: 2em 0;
    text-align: center;
}
h1, h2, h3 {
    margin: 0;
    text-rendering: optimizeLegibility;
    text-align: center;
}
h1 {
    font-weight: 400;
    font-size: 3em;
}
h2 {
    font-weight: 300;
    margin-top: 0.5em;
}
section {
    margin: 1.5em auto;
    width: 400px;
}

.fa-github::before {
    content: "\f09b";
}